.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  max-width: 400px;
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.titles {
  font-family: 'Roboto';
  font-size: 25px;
  color: #171f46;
}
.descriptions {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}
.image {
  align-self: flex-end;
}
